<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand">Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:4200/adi">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/admin">Rooms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/Reservation">Reservations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:4200/adminlogoute">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<center>
  <div class="hea">
  <h3>Admin Console</h3>

  </div>
<div class = "boxx">
  {{#each this.model as |row|}}
    <h4>{{row.error}}</h4>
  {{/each}}
<table >
{{#each this.model as |row|}}
    <tr><td><b>Total Rooms: </b></td><td>{{row.troom}}</td></tr>
    <tr><td><b>Total Clients: </b></td><td>{{row.tclient}}</td></tr>
    <tr><td><b>Total Reservation: </b></td><td>{{row.tres}}</td></tr>
{{/each}}
</table>
</div>
</center>