<center><h3>Welcome to Hotel Reservation System</h3>
<button class = "btn btn-outline-dark" type="button"><LinkTo @route = "logins">Login</LinkTo></button>
<button class = "btn btn-outline-dark" type="button"><LinkTo @route = "register">Register</LinkTo></button></center>