<main class="container mt-5">
	<div class="cont">
		<h1>
			<center>Login</center>
		</h1>
<form class = "rou">
		
		<table>
			<tr>
				<td>User Name</td>
				<td><input type="text" id = "uname" name="uname"></td>
			</tr>
            <tr>
				<td>Password</td>
				<td><input type="text" id = "mobile" name="mobile"></td>
			</tr>
		</table>

	</form>
	<center><button class = "but" type = "submit" {{action "get"}}>Login</button></center>
	</div>	
</main>

{{outlet}}