<table>
    {{#each this.model as |row|}}
        <tr>
            <td>{{row.sdate}}</td>
        </tr>
        <tr>
            <td>{{row.edate}}</td>
        </tr>
        <tr>
            <td>{{row.rid}}</td>
        </tr>
    {{/each}}
</table>