<h5><center>Thank you for choosing our hotel reservation system we have the best rooms for any needs</center></h5>
<center><button type = "submit" {{action "get"}}>Logout</button></center>

{{outlet}}