.container{
    background-color: #D8BFD8;
}
.cont{
    
    background-color: #E6E6FA;
    min-height: 300px;
}
.rou{
    margin-top: 50px;
    padding-left: 37%;
}
.er{
    background-color: #FFA07A;
}
.cond{
    padding-top: 50%;
}
.table{
    margin-left: 5%;

}
.boxx{
    margin-top :17%;
}
.hea{
    margin-top: 2%;
}
