<web-app>
	<servlet>
		<servlet-name>My</servlet-name>
		<servlet-class>My</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AuthenticationServlet</servlet-name>
		<servlet-class>AuthenticationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>TestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>Admin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Reservation</servlet-name>
		<servlet-class>Reservation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminFunctions</servlet-name>
		<servlet-class>AdminFunctions</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/TestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuthenticationServlet</servlet-name>
		<url-pattern>/AuthenticationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Reservation</servlet-name>
		<url-pattern>/Reservation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>My</servlet-name>
		<url-pattern>/My</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/Admin</url-pattern>
		
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminFunctions</servlet-name>
		<url-pattern>/AdminFunctions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>

	<!--<security-constraint>
		<web-resource-collection>
			<web-resource-name>simple web resource</web-resource-name>
			<url-pattern>/Admin</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>-->
</web-app>